body {
    background-color: powderblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:64px;
    margin-right:64px;
    width: 75vw;
}

h1 {
    color: royalblue;
}

p {
    font-weight:300;
}

blog-post {
    background-color: white;
    padding: 24px;
}