body {
    background-color: powderblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left:64px;
    padding-right:64px;
}

h1 {
    color: royalblue;
}

p {
    color: dimgrey;
    font-weight:300;
}

blog-post {
    background-color: white;
    padding: 24px;
}